body {
    background-color: #fdf8e1;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: #202020;
    
}

/* ==============================
             !Typography!
    =========================== */

h2 {
    font-size: 1.8em;
    font-weight: 200;
    
}



/* ==============================
             !Layout!
    =========================== */


.list-card {
    background-color: #fcefb4;
    margin: 2em;
    padding: 1em;
    max-width: 750px;
    min-height: 75vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
    letter-spacing: 1.5px;
}




.list-item {
    background-color: #fae588;
    margin-bottom: .5em;
    padding: 0.5em;
    border-radius: 5px;

}

.checkbox {
    border: none;
    border-radius: 3px;
    background-color: #fdf8e1;
    font-size: 1.125rem;
    width: 0.75em;
    height: 0.75em;
    margin-right: 4px;
    cursor: pointer;
}


.textbox {
    background-color: #fae588;
    color: #202020;
    border: 2px solid #fcefb4;
    border-radius: 5px;
    width: 90%;
    font-size: 1.125rem;
    font-family: 'Times New Roman', Times, serif;
    

}


.btn {
    background-color: #fcefb4;
    border: 1px solid #202020;
    border-radius: 5px;
    padding: 0em 0.35em;
    font-size: 1.5rem;
    transition: all 0.3s;
    margin-top: 0.5em;
}

.sub-btn {
    padding: 0em 0.5em;
    
}

#sub-line {
    display: none;
}



.btn:hover {
    cursor: pointer;
}

.btn:active {
    transform: scale(90%);
}

/* .input:focus {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
  }
  */

  